<section>
  <h2><%= @product.name %></h2>
  <dl>
    <dt><%= @product.name %></dt>
    <dd>$<%= @product.amount %></dd>
  </dl>
</section>
<section>
  <form action="/products/<%= @product.id() %>" method="post">
    <input name="_method" value="patch" hidden>
    <fieldset>
      <legend>Update this product:</legend>
        <label for="product_name">Product name:</label>
        <input name="product_name" type="text" value="<%= @product.name %>">

        <label for="product_amount">Product amount:</label>
        <input name="product_amount" type="text" value="<%= @product.amount %>">
        </fieldset>

        <button type="submit">Update product</button>
        <button type="reset">Clear form</button>
    </fieldset>
  </form>
</section>
<section>
  <form action="/products/<%=@product.id()%>" method="post">
    <input name="_method" value="delete" hidden>
    <fieldset>
      <legend>Delete this product: (This can't be undone!)</legend>
      <button type="submit">Delete product</button>
    </fieldset>
  </form>
</section>
<section>
  <a href="/">View all products</a>
</section>
